@page "/"

<section class="section">
    <div class="container">
        <h1 class="title">
            Title
        </h1>
        <hr />
        <div class="columns">
            <div class="column is-one-quarter">
                <article class="panel is-primary">
                    <p class="panel-heading">
                        Panel heading
                    </p>
                    <div class="panel-block">
                        <figure class="image is-258x258">
                            <img src="https://pngimg.com/uploads/cat/cat_PNG50498.png" />
                        </figure>
                    </div>
                    <div class="panel-block">
                        <p>
                            Mollis euismod congue sociosqu, vulputate lobortis orci, etiam curabitur purus condimentum varius primis. Rhoncus scelerisque consectetur, imperdiet lobortis vestibulum venenatis nec. Aenean ut vulputate suscipit, elit elementum mollis felis ante. Est porta tristique, ultricies dolor euismod adipiscing inceptos. Consequat malesuada tortor, suscipit semper, viverra eleifend faucibus elit etiam ad. Amet posuere ipsum, vel phasellus, convallis mi accumsan massa litora. Sagittis libero dictum, torquent odio, litora etiam a pharetra in. Habitasse feugiat congue, class eros, suscipit pellentesque commodo fusce est tristique. In ad enim, vulputate curae litora magna.
                        </p>
                    </div>
                </article>
            </div>
            <div class="column">
                <div class="block">
                    Aliquam ullamcorper aliquet, varius elit, curabitur fusce interdum nullam quisque velit orci. Adipiscing in curabitur habitant, taciti sem lacus, urna tempor odio molestie libero tincidunt. Ante aenean nibh, convallis nec, luctus sed dolor per ipsum aliquam. Aenean blandit, maecenas luctus himenaeos metus. Felis ut elit, tincidunt platea, ligula sapien feugiat nunc ornare faucibus erat. Vivamus ad, feugiat sagittis metus mauris.
                </div>
                <div class="block">
                    Lobortis dapibus in ac, lorem sociosqu felis, ad mollis senectus ligula quisque luctus. Ultricies volutpat etiam ligula, nostra donec senectus aenean sociosqu. Nisi scelerisque eleifend mi, condimentum semper tristique odio aliquam. Curabitur euismod torquent, primis nulla consectetur tellus facilisis. Nullam curabitur semper libero, purus felis viverra tempor ac. Ullamcorper urna posuere consectetur, sed aenean habitasse, pellentesque curabitur at luctus vehicula volutpat fermentum euismod. Elementum velit, litora malesuada nulla habitasse. Quam cursus, sapien augue justo quisque.
                </div>
                <div class="block">
                    Sodales elit himenaeos, magna vehicula, augue sit nunc laoreet curae commodo. Justo augue, proin dui sit. Suspendisse condimentum nibh habitasse, ipsum donec hendrerit, sodales cubilia libero justo nec pretium eu ornare. Nunc vitae felis, id amet curabitur a integer. Lacus tristique inceptos iaculis, ad nam nunc, mattis ut lorem litora per rutrum dui. Morbi integer primis, volutpat curabitur fringilla auctor. Ultricies mattis molestie, quisque volutpat, semper ullamcorper curae bibendum velit sodales. Metus enim luctus rhoncus, amet lobortis elit, augue lacus blandit in posuere curae. Semper quam, nulla est urna.
                </div>
                <div class="block">
                    Vitae sollicitudin rutrum, diam mollis, lorem pellentesque curae litora integer tristique varius. Nisl nam aptent, dolor nullam rhoncus vel curabitur. Primis tincidunt elementum lobortis, porta volutpat curabitur, sagittis dictumst suspendisse imperdiet donec auctor. Molestie quisque ut, felis tortor, aenean nulla sollicitudin lobortis lacinia donec. A nullam eget sed, taciti felis fringilla, per quisque convallis tellus quisque tempor proin. Lectus aliquam semper tincidunt, malesuada ultricies tristique pellentesque ut.
                </div>
                <div class="block">
                    Ut habitant, commodo blandit viverra mollis. Lorem ipsum ullamcorper, a sit velit duis conubia. Interdum vulputate et, nec faucibus, potenti purus eu cursus leo ad placerat. Litora vestibulum feugiat venenatis, lorem risus porta, quis porttitor netus dictumst libero congue ipsum duis. Adipiscing venenatis nec, nostra hendrerit mi maecenas aliquet. Porttitor posuere libero facilisis, tempus laoreet erat mi quisque. Donec ornare suscipit est, convallis lobortis praesent, purus imperdiet ut per varius metus eu euismod. Conubia platea lacus, sollicitudin dapibus congue vehicula. Vestibulum scelerisque lorem, suscipit venenatis, pharetra in tempus tellus curae porta metus.
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Footer
    </p>
  </div>
</footer>
